* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.grilla {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4% 38% 54% 4%;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "section1"
        "wave"
        "footer";
}

.header {
    grid-area: header; 
}


.carrito{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    margin-right: 50px;
}

.section1 {
    grid-area: section1;
}

#contenedorJugadores{
    display: flex;
    justify-content:space-evenly;
}

#contenedorMiEquipo{
    flex-direction: column;
    flex-direction: row;
    width: 50%;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedorEquipoRival{
    flex-direction: row;
    width: 50%;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedorJugadores div{
    border: 1px solid black;
    height: 350px;
    width: 250px;
    margin: 10px;
    overflow: hidden;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
}


#contenedorJugadores img{
    margin-bottom: 5%;
    margin-top: 5%;
}

#contenedorJugadores button{
    transform: translateX(60%);
    margin-top: 15%;
}

#contenedorJugadores div:hover{
    border: #006fff 0.2em solid;
}

#contenedorJugadores div img{
    margin-left: -3%;
}

#contenedorMiEquipo div, #contenedorEquipoRival div{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    margin: 10px;
}

#contenedorMiEquipo div button, #contenedorEquipoRival div button{
    display: none;
}

#contenedorMiEquipo div p, #contenedorEquipoRival div p{
    display: none;
}

#contenedorMiEquipo img, #contenedorEquipoRival img{
    margin-left: -21%;
    margin-top: -1%;
}

.imagenProducto{
    width: 248px;
    height: 270px;
    padding: 10px;
}

#modal{
    visibility: hidden;
}

.mostrarModal{
    visibility: visible !important;
    background-color: rgba(0,0,0, 0.5) !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#ventanaPopUp{
    width: 925px;
    height: 650px;
    border: 1px solid black;
    flex-direction: column;
    background-color: white;
    transform: translate(60%, -50%);
    border-radius: 5%;
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
    visibility: hidden;
    position: absolute;

    border-radius: 0.4em;
    box-shadow: 0.5em 0.5em 0.9em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
}

.mostrarPopUp{
    visibility: visible !important;
    z-index: 3;
}


#botonVS{
    height: 60px;
    width: 150px;
    border-radius: 8%;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}


#botonCerrado{
    position: absolute;
    top: 10px;
    right: 10px;
    color: blue;
}

#botonPartida{
    height: 60px;
    width: 100px;
    position: absolute;
    margin-top: 50%;
    margin-left: 45%;
}

.wave{
    height: 100%;
    width:100vw;
    grid-area: wave;
}

.footer{
    grid-area: footer;
    background-color: #0066ff;
    margin-top: -3%;
}


