
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html{
    font-size: 10px;
}

/*----------------------------------------------Index----------------------------------------------------*/


.gridContainer {
    display: grid; 
    grid-template-columns: 25%; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "sectionOne sectionTwo sectionTwo sectionTwo"
      "sectionOne sectionTwo sectionTwo sectionTwo"
      "sectionOne sectionTwo sectionTwo sectionTwo"; 
  }
.sectionOne { 
    grid-area: sectionOne;
    height: 100vh;
}

.sectionOne img{
    height: 80%;
    width: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sectionTwo { 
    grid-area: sectionTwo;
    background-color: #1976e0;
    color: #1976e0;
    height: 100vh;
}

.containerSection{
    margin-top: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1Index {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 5.5rem;
    text-align: center;
}

.textoIndex{
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    width: 50%;
    color: white;
    text-align: justify;
    margin-top: 4rem;
}

.containerButtons{
    display: flex;
    margin-top: 2rem;
}

.button {
    position: relative;
    display: block;
    padding: 0.5rem 1rem 0.35rem 1rem;
    font-size: 1.8rem;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: 0.7px solid white;
    border-bottom: 5px solid white;
    transition: color 700ms ease;
    transition-property: color, background-color, transform;
    cursor: pointer;
    z-index: 1;
    color: white;
    margin: 20px;
    width: 15.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
   }   
   
   .button:hover:before {
    width: 100%;
    height: 100%;
    top: auto;
    bottom: 0;
   }
   
   .button:active {
    transform: translateY(4px)
   }
   
   .button:before {
    content: '';
    position: absolute;
    display: block;
    margin: 0 auto;
    height: 0%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
    transition: height 0.3s ease;
   }

   .button a{
       color: white;
       cursor: pointer;
       text-decoration: none;
   }

   .button:hover > a{
    color: #1976e0;
}



/*----------------------------------------------VS Player------------------------------------------------*/

.grilla {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4% 140% 54% 4%;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "section1"
        "wave"
        "footer";
}

.header {
    grid-area: header; 
}


.carrito{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    margin-right: 50px;
}

.section1 {
    grid-area: section1;
}

#contenedorEquipos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contenedorMiEquipo{
    flex-direction: column;
    flex-direction: row;
    width: 50%;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedorEquipoRival{
    flex-direction: row;
    width: 50%;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedorEquipos div{
    border: 1px solid black;
    height: 245px;
    width: 210px;
    margin: 5px;
    overflow: hidden;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
}


#contenedorEquipos img{
    margin-bottom: 5%;
}

#contenedorEquipos button{
    transform: translateX(60%);
    margin-top: 15%;
}

#contenedorEquipos div:hover{
    border: #006fff 0.2em solid;
}

#contenedorEquipos div img{
    margin-left: -3%;
}


#contenedorJugadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.cardJugadores{
    height: 230px;
    width: 200px;
    overflow: hidden;
    margin: 5px;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    background-color: white;
}

.cardJugadores img{
    width: 195px;
    height: auto;
}



#contenedorMiEquipo div, #contenedorEquipoRival div{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    margin: 10px;
}

#contenedorMiEquipo div button, #contenedorEquipoRival div button{
    display: none;
}

#contenedorMiEquipo div p, #contenedorEquipoRival div p{
    display: none;
}

#contenedorMiEquipo img, #contenedorEquipoRival img{
    margin-left: -21%;
    margin-top: -1%;
}

.imagenProducto{
    width: 248px;
    height: 270px;
    padding: 10px;
}

#modal{
    visibility: hidden;
}

.mostrarModal{
    visibility: visible !important;
    background-color: rgba(0,0,0, 0.5) !important;
    position: absolute;
    width: 100%;
    height: 250%;
    z-index: 2;
}

#ventanaPopUp{
    width: 925px;
    height: 650px;
    border: 1px solid black;
    flex-direction: column;
    background-color: white;
    transform: translate(60%, -50%);
    border-radius: 5%;
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
    visibility: hidden;
    position: absolute;
    margin-top: -500px;
    border-radius: 0.4em;
    box-shadow: 0.5em 0.5em 0.9em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
}

.mostrarPopUp{
    visibility: visible !important;
    z-index: 3;
}


#botonVS{
    height: 60px;
    width: 150px;
    border-radius: 8%;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}


#botonCerrado{
    position: absolute;
    top: 10px;
    right: 10px;
    color: blue;
}

#botonPartida{
    height: 60px;
    width: 100px;
    position: absolute;
    margin-top: 50%;
    margin-left: 45%;
}

.wave{
    height: 100%;
    width:100vw;
    grid-area: wave;
    z-index: -1;
}

.footer{
    grid-area: footer;
    background-color: #0066ff;
    margin-top: -3%;
}


